certifi==2021.5.30; python_full_version >= "3.6.0"
chardet==4.0.0; python_full_version >= "3.6.0"
click==8.0.1; python_version >= "3.6" and python_full_version >= "3.6.0"
colorama==0.4.4; python_version >= "3.6" and python_full_version >= "3.6.0" and platform_system == "Windows"
filelock==3.0.12; python_full_version >= "3.6.0"
huggingface-hub==0.0.12; python_full_version >= "3.6.0"
idna==2.10; python_full_version >= "3.6.0"
joblib==1.0.1; python_version >= "3.6" and python_full_version >= "3.6.0"
kaggle @ git+https://github.com/fawolfmann/kaggle-api@master
numpy==1.21.0; python_version >= "3.7" and python_full_version >= "3.6.0"
packaging==20.9; python_full_version >= "3.6.0"
pyparsing==2.4.7; python_full_version >= "3.6.0"
python-dateutil==2.8.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
python-slugify==5.0.2; python_version >= "3.6"
pyyaml==5.4.1; python_full_version >= "3.6.0"
regex==2021.4.4; python_full_version >= "3.6.0"
requests==2.25.1; python_full_version >= "3.6.0"
sacremoses==0.0.45; python_full_version >= "3.6.0"
scikit-learn==0.24.2; python_version >= "3.6"
scipy==1.6.1; python_version >= "3.7"
six==1.16.0; python_full_version >= "3.6.0"
text-unidecode==1.3; python_version >= "3.6"
threadpoolctl==2.1.0; python_version >= "3.6"
tokenizers==0.10.3; python_full_version >= "3.6.0"
tqdm==4.61.1; python_full_version >= "3.6.0"
transformers==4.8.2; python_full_version >= "3.6.0"
typing-extensions==3.10.0.0; python_full_version >= "3.6.0"
urllib3==1.26.6; python_full_version >= "3.6.0" and python_version < "4"
